html, body {
    margin: 0;
    padding: 0;
    width: 430px;
    margin: 0px auto;
}

.logo-section {
    display: flex;
    justify-content: space-between;
    border: 1px solid #C6C6C6;
    padding: 10px 15px;
}

main {
    padding: 20px 0px;
}

.article-header {
    display: flex;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.post-img {
    display: block;
    width: 100%;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    width: auto;
}

.user-avatar {
    border-radius: 50px;
    height: 40px;
}

.article-header img {
    height: 60px;
    width: auto;
}

